<link rel="stylesheet" href="/css/sign-up.css" />
<div class="container-fluid sign-up-container">
  <div class="row">
    <div class="col-md-6 col-lg-4 m-auto">
      <h1>Forgot Password</h1>
      <form action="/users/forgot" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1" class="input-heading"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            name="email"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email id for sending the reset password link"
            required
          />
        </div>
        <div class="btns">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      <div class="google-link">
        <a href="/users/auth/google">
          <i class="fas fa-google"> Sign In Using Google</i>
        </a>
      </div>
    </div>
  </div>
</div>
