<link rel="stylesheet" href="/css/sign-up.css" />
<div class="container-fluid sign-up-container">
  <div class="row">
    <div class="col-md-6 col-lg-4 m-auto">
      <h1>Sign In</h1>
      <form action="/users/create-session" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1" class="input-heading"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            name="email"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            required
          />
        </div>
        <div class="form-group">
          <label for="password1" class="input-heading">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password1"
            placeholder="Password"
            required
          />
        </div>
        <div class="form-group">
          <label for="password2" class="input-heading">Password</label>
          <input
            type="password"
            class="form-control"
            name="confirm_password"
            id="password2"
            placeholder="Confirm Password"
            required
          />
        </div>
        <div class="forget-link">
          <a style="color: white;" href="">Forgot-password?</a>
        </div>
        <div class="btns">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      <div class="google-link">
        <a href="/users/auth/google">
          <i class="fas fa-google"> Sign In Using Google</i>
        </a>
      </div>
    </div>
  </div>
</div>
