.sign-up-container {
  background-image: url("../images/backgroung.jpg");
  color: white;
  .btns {
    width: 50%;
    margin: auto;
  }
  input {
    border-radius: 30%;
  }
  .another-container {
    width: 50%;
    margin: auto;
  }
}
