.sign-up-container {
  background-image: url("../images/backgroung.jpg");
  color: white; }
  .sign-up-container .btns {
    width: 50%;
    margin: auto; }
  .sign-up-container input {
    border-radius: 30%; }
  .sign-up-container .another-container {
    width: 50%;
    margin: auto; }
  .sign-up-container button {
    width: 50%;
    margin: auto; }
  .sign-up-container .google-link {
    width: 50%;
    margin: auto;
    border: 1px solid black;
    background-color: white; }
    .sign-up-container .google-link a {
      margin: 10px;
      color: blue; }
  .sign-up-container form {
    margin: 10px; }
